@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Ubuntu-Regular";
  color: hsl(231, 11%, 63%);
  background-color: hsl(217, 100%, 97%);
}

.hide {
  display: none !important;
}

#btn-footer-back, #btn-footer-next, .item-list-plan, #btn-toggler, .div-add-on, #btn-change-plan {
  cursor: pointer;
}

main {
  position: relative;
}

h2 {
  color: hsl(213, 96%, 18%);
  font-size: 1.5rem;
  font-family: "Ubuntu-Bold";
  margin-bottom: .85rem;
}

/* Div: div-sidebar-steps */
.div-sidebar-steps {
  width: 100%;
  height: 172px;
  background-image: url('../assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.list-steps {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list-step > span {
  display: block;
  width: 36px;
  height: 36px;
  padding: .5rem;
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu-Medium";
  font-size: 1rem;
  text-align: center;
  border: 1.5px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.item-list-step > span.active {
  color: hsl(0, 0%, 0%);
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
}

/* Div: div-form */
.div-form {
  width: 92%;
  position: absolute;
  top: 98px;
  left: 4%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.div-form-step {
  padding: 1.75rem 1.25rem;
}

.div-form-step > div:first-of-type {
  width: 95%;
  margin-bottom: .85rem;
  line-height: 1.5rem;
}

#form-personal-info > label, .div-input > label {
  display: block;
  flex: 2 50%;
  font-size: 15px;
  color: hsl(213, 96%, 18%);
}

.div-input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .85rem;
}

.div-input:last-of-type {
  margin-bottom: 0;
}

.div-input > span {
  flex: 2 50%;
  font-family: "Ubuntu-Bold", sans-serif;
  font-size: 13px;
  text-align: end;
  color: hsl(354, 84%, 57%);
}

.div-input > input {
  display: block;
  width: 100%;
  flex: 1 100%;
  margin-top: .25rem;
  padding: .5rem 1rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 4px;
  color: hsl(213, 96%, 18%);
  font-size: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: hsl(213, 96%, 18%);
}

.div-input > input.error {
  border-color: hsl(354, 84%, 57%);
}

.div-input > input::placeholder {
  font-size: 15px;
  font-family: "Ubuntu-Medium";
  color: hsl(231, 11%, 63%);
}

.div-input > input:focus {
  background-color: hsl(0, 0%, 100%);
  outline-color: hsl(243, 100%, 62%);
}

.div-input > input.error {
  border-color: hsl(354, 84%, 57%);
}

/* Form 2 */
#list-plans {
  margin-bottom: .825rem;
}

.item-list-plan {
  display: flex;
  margin-bottom: .425rem;
  padding: .85rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 4px;
}

.item-list-plan.selected {
  border-color: hsl(243, 100%, 62%);
  background-color: hsla(243, 100%, 62%, .05);
}

.item-list-plan:hover {
  border-color: hsl(243, 100%, 62%);
}

.item-list-plan:last-of-type {
  margin-bottom: 0;
}

.item-list-plan > img {
  width: 40px;
  height: 40px;
  margin-right: .85rem;
}

.item-list-plan > div > h4 {
  color: hsl(213, 96%, 18%);
  margin-bottom: .425rem;
  font-family: "Ubuntu-Medium";
}

.item-list-plan > div > span {
  display: block;
  font-size: 14px;
}

.item-list-plan > div > span:first-of-type {
  margin-bottom: .425rem;
}

.item-list-plan > div > span:last-of-type {
  color: hsl(213, 96%, 18%);
}

.div-duration-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .825rem;
  background-color: hsl(217, 100%, 97%);
}

.div-duration-toggle > span {
  display: block;
  font-family: "Ubuntu-Medium";
}

.div-duration-toggle > span.selected {
  color: hsl(213, 96%, 18%);
}

.div-duration-toggle > span:first-of-type {
  margin-right: .825rem;
}

.div-duration-toggle > span:last-of-type {
  margin-left: .825rem;
}

#button-toggle {
  width: 34px;
  height: 18px;
  position: relative;
  background-color: hsl(213, 96%, 18%);
  border-radius: 500px;
}

#btn-toggler {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 3px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}

#btn-toggler.monthly {
  left: 4px;
}

#btn-toggler.yearly {
  left: initial;
  right: 4px;
}

/* Form 3 */
.div-add-on {
  display: flex;
  align-items: center;
  padding: .825rem;
  margin-bottom: .825rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 8px;
}

.div-add-on:hover {
  border-color: hsl(243, 100%, 62%);
}

.div-add-on.selected {
  border-color: hsl(243, 100%, 62%);
  background-color: hsla(243, 100%, 62%, .05);
}

input[type="checkbox"] {
  margin-right: .825rem;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  appearance: none;
  border: 1px solid hsl(231, 11%, 63%);
  position: relative;
}

input[type="checkbox"]:checked::before {	
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: hsl(0, 0%, 100%);
}

input[type="checkbox"]:checked {
  background-color: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%);
}


.div-add-on > div:first-of-type {
  margin-right: 1rem;
}

.div-add-on > div:first-of-type > h4 {
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu-Medium";
  margin-bottom: .2125rem;
  font-size: 14px;
}

.div-add-on > div:first-of-type > div {
  font-size: 13px;
}

.div-add-on > div:last-of-type {
  color: hsl(243, 100%, 62%);
  margin-left: auto;
  margin-right: 0;
  font-size: 13px;
}

/* Form 4 */
.div-checkout {
  padding: .825rem;
  background-color: hsl(217, 100%, 97%);
  border-radius: 8px;
  font-size: 14px;
}

.div-checkout > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .825rem;
}

.div-checkout > div:first-of-type {
  border-bottom: 1px solid hsl(231, 11%, 63%);
  padding-bottom: .825rem;
}

#btn-change-plan {
  text-decoration: underline;
}

#btn-change-plan:hover {
  color: hsl(243, 100%, 62%);
}

.checkout-plan-name, .checkout-plan-price {
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu-Medium";
}

.div-checkout-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .825rem .825rem 0 .825rem;
  font-size: 14px;
}

.div-total-amount {
  color: hsl(243, 100%, 62%);
}

/* Div Thank You */
.div-form-thank-you {
  padding: 4.9rem .825rem;
  text-align: center;
}

#img-thank-you {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 1.75rem auto;
}

.div-form-thank-you > div {
  width: 95%;
  margin: 0 auto;
  line-height: 1.5rem;
}

footer {
  display: flex;
  align-self: center;
  padding: 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
}

footer > button {
  display: block;
  font-family: "Ubuntu-Medium";
}

#btn-footer-back {
  margin: 0 auto 0 0;
}

#btn-footer-back:hover {
  color: hsl(213, 96%, 18%);
}

#btn-footer-next {
  margin: 0 0 0 auto;
  padding: .5rem .75rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 96%, 18%);
  border-radius: 4px;
}

#btn-footer-next:hover {
  opacity: .85;
}

@media (min-width: 576px) {
  .list-steps {
    width: 30%;
  }

  .div-form {
    width: 80%;
    left: 10%;
  }

  footer {
    padding: 5% 10%;
  }
}

@media (min-width: 767px) {
  .list-steps {
    width: 22.5%;
  }

  .div-form {
    width: 70%;
    left: 15%;
  }

  footer {
    padding: 5% 15%; 
  }
}

@media (min-width: 922px) {
  .list-steps {
    width: 18.5%;
  }

  .div-form {
    width: 60%;
    left: 20%;
  }

  footer {
    padding: 5% 20%;
  }
}

@media (min-width: 1200px) {

  main {
    width: 70%;
    padding: .5rem;
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
  }

  .div-sidebar-steps {
    width: 20%;
    height: auto;
    margin: 0 auto 0 0;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    border-radius: 10px;
  }

  .list-steps {
    width: auto;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 1.75rem 1rem;
    margin: 0;
  }

  .item-list-step {
    display: flex;
    margin-bottom: 1.75rem;
  }

  .item-list-step > span {
    width: 28px;
    height: 28px;
    margin-right: .825rem;
  }

  .div-step-description {
    display: block !important;
  }

  .div-form {
    width: 80%;
    margin: 0 auto;
    position: initial;
    left: initial;
    top: initial;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
  }
}

@media (min-width: 1400px) {

}